<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="47611d45-1eed-472a-8132-764a582f025b" Version="0.1.0.0" Publisher="CN=William" />
  <Properties>
    <DisplayName>Surf Forecast</DisplayName>
    <PublisherDisplayName>AFR Software</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Surf Forcast" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="HelloWorld" ForegroundText="light" BackgroundColor="#00D5FF">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>